.banner{
    background-image: url("../../src/assets/logo.jpg");
    padding: 25%;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}